@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.list-header {
  box-sizing: border-box;
  height: 64px;
  background-color: #ffffff;
  border-bottom: 1px solid #ededed;
  padding: 11px 0;
}

.navbar {
  margin: 0 auto;
  max-width: 1247px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo-name {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Ponppins";
}

.nav-logo {
  width: 27px;
  height: 27px;
}

.nav-button {
  padding: 8px;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  box-sizing: border-box;
}

.card-wrapper {
  max-width: 1160px;
  margin: 20px 0;
}

.card-list-title {
  font-size: 24px;
}

.card-list {
  display: flex;
  gap: 20px;
  position: relative;
  height: 260px;
}

.card {
  width: 275px;
  padding: 24px 30px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.card-name {
  font-size: 24px;
  font-weight: bold;
}

.card-recent-profileImg {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.card-profile {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: -12px;
}

.card-profile:first-child {
  margin-left: 0;
}

.card-recent-profileImg-count {
  padding: 5px 6px;
  background-color: #ffffff;
  border-radius: 30px;
  margin-left: -12px;
  font-size: 12px;
}

.card-message-count {
  color: #616161;
}

.card-message-count span {
  font-weight: bold;
  color: black;
}

.card-toReactions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 16px;
}

.card-toReaction {
  display: flex;
  gap: 8px;
}

.toReaction {
  padding: 8px 12px;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.54);
  color: #ffffff;
}

.toReaction-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.arrow-button {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #dadcdf;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow-button-prev {
  left: -20px;
}

.arrow-button-next {
  right: -20px;
}

.arrow-button img {
  width: 0.5rem;
  height: 0.8rem;
}

.add-card-button {
  margin: 40px;
  color: white;
  width: 280px;
  background-color: #805ad5;
  padding: 14px 24px;
  border-radius: 12px;
  border: 1px solid #805ad5;
  font-size: 18px;
}
