.text-input {
  width: 100%;
  padding: 15px;
  border-radius: 6px;
  border: 1.5px solid #ccc;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 6px;
}

.text-input.error {
  border-color: #dc3a3a;
}

.error-text {
  color: #dc3a3a;
  font-size: 14px;
}
